fragment-island {
    display: block;
    background: grey;

    &:state(mounted) {
        background: lightgreen;
    }
}

component-island {
    display: block;
    background: grey;

    &:state(mounted) {
        background: lightblue;
    }

    &[src="MyThing"] {
        background: lightcoral;
    }
}

page-island {
    display: block;
    border: 2px solid red;
    padding: 1em;
}

*:state(loading) {
    cursor: wait;
    background: lightyellow;
}

nav.main {
    display: flex;
    gap: 1em;
    border: 2px solid blue;
    padding: 1em;
    margin-bottom: 1em;
}

nav.tabs {
    padding: 1em 0.5em 0;
    display: flex;
    gap: 1em;
    background: lightgrey;

    a {
        background: white;
        padding: 0.5em;
    }
}

a.target-loading {
    background: yellow !important;
}
