@view-transition {
    navigation: auto;
}

fragment-island {
    display: block;
    background: grey;

    &:state(mounted) {
        background: lightgreen;
    }
}

component-island {
    display: block;
    background: grey;

    &:state(mounted) {
        background: lightblue;
    }

    &[src="MyThing"] {
        background: lightcoral;
    }
}

page-island {
    display: block;
    border: 2px solid red;
    padding: 1em;
}

nav.main {
    display: flex;
    gap: 1em;
    border: 2px solid blue;
    padding: 1em;
    margin-bottom: 1em;
}
